<p id="notice"><%= notice %></p>

<h1>Mentorship Assignment</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Senior mentor</th>
      <th>Junior mentor</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |developer, mentors| %>
      <tr>
        <td><%= render partial: 'developer', object: developer %></td>
        <td><%= render partial: 'developer', object: mentors.first %></td>
        <td><%= render partial: 'developer', object: mentors.last %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to listing', developers_path, class: 'btn btn-default' %>
<%= link_to 'Recompute', assignment_developers_path, class: 'btn btn-warning' %>
