<p id="notice"><%= notice %></p>

<h1>Listing Developers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Developer</th>
      <th>Starting date</th>
      <th>Seniority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= render partial: 'developer', object: developer %></td>
        <td><%= developer.starting_date %></td>
        <td><%= developer.senior? ? 'senior' : 'junior' %></td>
        <td><%= link_to 'Show', developer, class: 'btn' %></td>
        <td><%= link_to 'Edit', edit_developer_path(developer), class: 'btn' %></td>
        <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path, class: 'btn btn-default' %>
<%= link_to 'Compute mentor assignments', assignment_developers_path, class: 'btn btn-primary' %>
